section {
    padding-top: 13em;
}

.header {
    color: var(--main-color);
    font-size: 1.88rem;
    text-align: center;
}

.header > div {
    padding-bottom: 2em;
}

.text {
    width: 80%;
    padding: 5em 0;
}

.quote {
    width: 90%;
    padding: 5em 0;
}

.text p,
.quote p {
    padding-bottom: 2em;
}

.box {
    width: 80%;
    border-radius: 30px;
    background-color: var(--second-color);
    padding: 1em;
    text-align: left;
    margin-bottom: 5em;
}

.box > p {
    margin: 1em;
}

.box .author {
    color: var(--main-color);
}

ul {
    list-style: none;
    padding-left: 0;
    padding-top: 2em;
    padding-bottom: 5em;
}

.large-box {
    width: 100%;
    border-radius: 30px;
    background-color: var(--second-color);
    padding: 1em;
    text-align: center;
}

.carousel {
    position: relative;
    max-width: 100%;
}

.carousel > button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
}

.carousel > button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel .button-left,
.carousel .ideation__button-left {
    transform: rotate(180deg) translateY(50%);
    left: 1em;
}

.carousel .button-right,
.carousel .ideation__button-right {
    transform: translateY(-50%);
    right: 1em;
}

.carousel .button-inactive {
    opacity: .3;
    cursor: auto;
}

.slide {
    display: none;
}

.slides .current-slide {
    display: block;
}

.collar-us-rescue-link {
    color: var(--main-color);
    font-style: italic;
}

.thanks-for-stoppping-by {
    color: var(--main-color);
    text-align: center;
    margin: 10em auto;
}

.aboriginal-acknowledge {
    color: var(--main-color);
    font-size: .75rem;
    text-align: center;
    max-width: 80%;
    padding-top: 10em;
}

.message {
    align-self: center;
    padding: 4em 0 2em 0;
}

@media (min-width: 800px) {
    .text {
        width: 60%;
    }

    .quote {
        width: 70%;
    }

    .box {
        width: 50%;
    }

    .box > div > p {
        font-size: 1.5rem;
    }

    .box .images img {
        height: unset;
    }
}