@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
    --main-color: rgba(167,27,167,1);
    --second-color: rgba(235,227,214,0.3);
  }

* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

section {
    padding-top: 9em;
}

p, li {
    font-size: 1.25rem;
    line-height: 150%;
    margin: 0;
}

.purple {
    color: var(--main-color);
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 1em;
    max-width: 100%;
    text-align: center;
}

h2 {
    font-size: 2.19rem;
    padding: .5em 0;
    max-width: 100%;
    text-align: center; 
    color: var(--main-color);
}

h3 {
    font-size: 1.87rem;
    padding-bottom: .5em;
    max-width: 100%;
}

h4 {
    font-size: 1.56rem;
    padding-bottom: .5em;
    max-width: 100%;
}

h5 {
    font-size: 1.25rem;
    padding-bottom: .5em;
    max-width: 100%;
    color: var(--main-color);
}

i {
    font-style: italic;
}

header {
    display: grid;
    grid-template-columns: 5% 20% 70% 5%;
    border-bottom: 1px solid rgba(167,27,167,0.3);
    box-shadow: 1px 5px 5px rgba(192,192,192,1);
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(255,255,255,1);
}

.invisible {
    display: none;
}

.logo {
    grid-column: 2 / span 1;
    margin: 0;
}

.logo img {
    width: 8rem;
    max-width: 100%;
    padding: 1.5em 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav li {
    margin-left: 1em;
    margin-bottom: 0;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1.5em 0;
    font-size: 1rem;
    margin: 0;
    opacity: 1;
    position: relative;
}

nav a::before {
    content: '';
    display: block;
    height: 2px;
    background: var(--main-color);
    box-shadow: 0 5px 2px rgba(192,192,192,1);
    position: absolute;
    bottom: 1.30em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1, 1);
}

nav .active::before {
    content: '';
    display: block;
    height: 2px;
    background: var(--main-color);
    box-shadow: 0 5px 2px rgba(192,192,192,1);
    position: absolute;
    bottom: 1.30em;
    left: 0;
    right: 0;
    transform: scale(1, 1);
}

main .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13rem;
    max-width: 90%;
}

main .home > div {
    margin: 0;
    place-self: center;
    text-align: center;
    font-size: 2rem;
    min-width: 350px;
}

main .home > div > div {
    padding-bottom: 1em;
}

#millie {
    font-size: 3rem;
}

main .home img {
    max-width: 100%;
}

.projects h1 {
    color: var(--main-color);
    font-size: 4rem;
    text-align: left;
    max-width: 90%;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    gap: 1em;
}

.container-projects a {
    text-decoration: none;
    margin: 0;
}

.project {
    background-color: var(--second-color);
    border-radius: 45px;
    min-width: 350px;
    width: 100%;
    padding: 2rem;
    margin: 0 0 5rem 0;
    box-shadow: 1px 5px 5px rgba(192,192,192,1);
}

.project .content {
    display: grid;
    grid-template-rows: 3em 18em;
    grid-template-columns: 40% 60%;
    place-items: center;
}

.project .content h5 {
    grid-column: 1 / span 2;
}

.project img {
    justify-self: start;
}

.project .text p {
    grid-column: 2 / span 1;
    justify-self: start;
    color: black;
    font-size: .75rem;
    padding-bottom: 1em;
    padding-left: 2em;
}

.small-highlight-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.87rem;
    color: var(--main-color);
    max-width: 80%;
    padding-bottom: 2em;
}

.highlight-text > div,
.small-highlight-text > div {
    margin: 0;
    padding: 1em;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images img {
    padding: 1em;
    max-width: 100%;
    margin: 0;
}

footer {
    color: var(--main-color);
    text-align: center;
    background-color: var(--second-color);
    clip-path: ellipse(50% 100% at bottom);
    height: 300px;
    display: grid;
    grid-template-rows: auto min-content min-content;
    justify-items: center;
    align-items: end;
    margin-top: 10em;
}

.container-icons {
    display: flex;
    padding-bottom: 2em;
}

.container-icons img {
    padding: 0 10px;
}

footer p {
    padding-bottom: 1rem;
}

@media (min-width: 800px) {
    main .home {
        justify-content: space-between;
    }

    main .home > div {
        width: 50%;
    }

    .project {
        width: 45%;
    }

    nav li {
        margin-left: 3em;
    }

    nav a {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .project {
        width: 30%;
    }
}