.general-info ul {
    list-style-type: none;
}

.general-info ul li:before {
    content: '\2013';
    position: absolute;
    margin-left: -20px;
}

#header1 {
    background-color: white;
}

#subtitle1 {
    width: 85%;
}

#iphones {
    max-width: 90%;
}

.images .container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header img {
    max-height: 120px;
}

.header {
    background-color: var(--second-color);
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 30px;
}

.box {
    width: 95%;
    background-color: var(--second-color);
    border-radius: 30px;
    padding: 2em;
    margin-bottom: 2em;
}

.box .wrapper .large-number,
.box .wrapper .large-number {
    font-size: 6rem;
    color: var(--main-color);
    padding-right: .3em;
}

.box .wrapper .content .info,
.box .wrapper .content2 .info {
    max-width: 90%;
    display: flex;
}

.box .content,
.box .content2 {
    display: grid;
    padding-bottom: 2em;
    font-size: 1.87rem;
    align-items: center;
}

.ideation__box__content {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    align-items: center;
    margin-bottom: 5em;
}

.ideation__box__content-large-text {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    margin-bottom: 5em;
}

.ideation__box__highlight-text {
    text-align: center;
    font-size: 1.87rem;
    color: var(--main-color);
    padding-bottom: 2em;
}

.ideation__box__images {
    display: flex;
}

.ideation__box__image {
    display: grid;
    row-gap: 1em;
}

.large-box {
    width: 100%;
}

.large-box .container {
    max-width: 80%;
    text-align: start;
}

.large-box .graph {
    text-shadow: 1px 2px 2px rgba(161,156,156,1);
    text-align: center;
    padding: 2em;
}

.flex-boxes {
    width: 90%;
    gap: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-boxes .content {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.56rem;
}

.large-flex-boxes .wrapp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.large-flex-boxes .content {
    width: 100%;
    min-height: 400px;
    padding: 2em 4em;
    background-color: var(--second-color);
    border-radius: 30px;
}

.large-flex-boxes h3 {
    text-align: center;
}

.text {
    max-width: 80%;
    padding-bottom: 2em;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    align-items: center;
    justify-items: center;
    max-width: 80%;
    background-color: var(--second-color);
    border-radius: 30px;
    margin-bottom: 2em;
    padding: 2em;
}

.grid-box h4 {
    grid-column: 1 / span 2;
    text-align: center;
}

.grid-box .content {
    padding: 1em;
    max-width: 100%;
}

#image {
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 20%;
}

.details > div {
    width: 100%;
    padding-bottom: 2em;
}

.button {
    display: flex;
    justify-content: flex-end;
    max-width: 80%;
    padding-bottom: 2em;
}

#back-top-button {
    justify-content: center;
}

#figma-button {
    max-width: 100%;
}

.button a {
    display: block;
    margin: 0;
    width: max-content;
    text-decoration: none;
    font-size: 1.20rem;
    padding: .30em .70em;
    color: var(--main-color);
    background-color: rgba(234,215,230,0.3);
    border-radius: 30px;
    box-shadow:
        0 4px 4px rgba(0,0,0,.25),
        0 4px 4px rgba(0,0,0,.25),
        inset 0 4px 4px rgba(0,0,0,.25);
}

.button a:hover {
    color: rgba(255,255,255,1);
    background-color: var(--main-color);
}

.dashed-box {
    border: 1px dashed var(--main-color);
    color: var(--main-color);
    font-size: 1.87rem;
    box-shadow:
        0 4px 4px rgba(161,156,156,.25),
        0 4px 4px rgba(161,156,156,.25),
        inset 0 4px 4px rgba(161,156,156,.25);
    text-align: center;
    padding: 0.5em;
    margin-bottom: 2em;
}

.dashed-box .quote-author {
    text-align: right;
    padding-top: 1em;
    font-style: italic;
}

.dashed-small {
    max-width: 60%;
}

.dashed-large {
    max-width: 80%;
}

#attention-sign {
    max-width: 30em;
}

#big-width-img {
    max-width: 1230px;
}

.highlight-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--main-color);
    max-width: 95%;
}

.personas-grid {
    padding-bottom: 8em;
    display: flex;
    justify-content: center;
}

.personas-grid .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    width: 98%;
    gap: 1px;
    text-align: center;
    padding: 1em;
    margin: 0;
}

.personas-grid .wrapper > div {
    display: grid;
    grid-template-rows: max-content max-content max-content 0;
    width: 100%;
    outline: 1px dashed var(--main-color);
    box-shadow:
        0 4px 4px rgba(161,156,156,.25),
        0 4px 4px rgba(161,156,156,.25),
        inset 0 4px 4px rgba(161,156,156,.25);
    text-align: center;
    padding: 1em;
}

.personas-grid .wrapper p,
.personas-grid .wrapper img {
    padding-bottom: 1em;
}

.personas-grid .wrapper .arrow {
    justify-self: end;
    margin: 0;
}

.highlight-box {
    color: var(--main-color);
    background-color: rgba(234,215,230,.4);
    font-size: 1.87rem;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    align-items: center;
    justify-content: space-evenly;
}

.highlight-box .content {
    max-width: 85%;
}

.highlight-box .content span {
    text-decoration: underline;
}

.highlight-box .wrapp {
    display: grid;
    align-items: center;
    max-width: 95%;
    font-size: 1.5rem;
}

.highlight-box .wrapp .content {
    min-width: 20%;
}

.highlight-box .wrapp .arrow {
    padding: 1em;
    transform: rotate(90deg);
}

.triangle {
    width: 90%;
}

.triangle > div {
    display: flex;
    align-items: center;
    max-width: 1100px;
    height: 450px;
    background-color: rgba(237,219,192,.33);
    clip-path: polygon(
        30% 40%,
        50% 0%,
        50% 0%,
        85% 70%,
        100% 100%,
        100% 100%,
        0% 100%
    );
    text-align: center;
    margin: 0 auto 2em auto;
}

.triangle .content {
    max-width: 750px;
    font-size: .8rem;
    color: var(--main-color);
    padding: 1em 0;
}

#learnings {
    background-color: rgba(234,215,230,1);
}

.insight .content {
    max-width: 80%;
    font-size: 1.75rem;
    color: var(--main-color);
    text-align: center;
    line-height: 200%;
}

.insight .text {
    text-align: center;
}

#insight {
    font-size: 4rem;
}

.question h4 {
    text-align: center;
    padding-top: 2em;
}

.overlapping-grid {
    display: grid;
    max-width: 80%;
}

.overlapping-grid .box {
    width: 104%;
    min-height: 19em;
}

#firemark {
    background-color: rgba(234,215,230,.7);
}

.umbrella {
    list-style: none;
    padding: 2em 0 0 0;
}

.umbrella > li {
    background: url('../images/parametric-insurance/umbrella.svg') no-repeat left top;
    padding: 0 0 1.5em 2.5em;
}

.survey-box > h4 {
    max-width: 80%;
}

.carousel {
    position: relative;
    max-width: 100%;
}

.carousel > button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
}

.carousel > button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel .button-left {
    transform: rotate(180deg) translateY(50%);
    left: -3em;
}

.carousel .button-right {
    transform: translateY(-50%);
    right: -3em;
}

.carousel .button-inactive {
    opacity: .3;
    cursor: auto;
}

.slide {
    display: none;
}

.slides .current-slide {
    display: block;
}

/* .slides {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    max-width: 100%;
}

.slides::-webkit-scrollbar {
    display: none;
  }

.slides > div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.slides > .images {
    display: block;
} */

.redicova-link {
    color: var(--main-color);
    font-style: italic;
}

.infograph__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 95%;
    gap: 1px;
    /* border: 1px dashed var(--main-color); */
}

.infograph__card {
    display: grid;
    font-size: .875rem;
    text-align: center;
    /* outline: 1px solid rgba(196,196,196,.3); */
    outline: 1px dashed var(--main-color);
    width: 100%;
    min-height: 15em;
    padding: 1em;
}

.infograph__border {
    content: '';
    display: block;
    width: 95%;
    height: 1px;
    background: rgba(196,196,196,.3);
}

.infograph__card__container {
    display: grid;
    padding: 1em 0;
    width: 100%;
}

.infograph__card__container .first-card {
    grid-template-columns: 1fr 1fr 1fr;
}

.infograph__card__container > img {
    margin: auto;
}

.infograph__card__container .graph {
    grid-area: 1 / 3 / span 2 / span 1;
}

.infograph__card__container .natural-disaster {
    background-color: rgba(196,196,196,.3);
    border-radius: 20px;
    margin: auto;
    max-width: 7em;
}

.infograph__text {
    font-style: italic;
    text-align: center;
    font-size: .875rem;
}

.trad-x-param {
    display: flex;
    border: 1px dotted var(--main-color);
    max-width: 95%;
    margin: 3em auto;
}

.trad-x-param__wrapp {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    width: 100%;
}

.trad-x-param__column {
    padding: 1em;
    text-align: center;
    display: grid;
    grid-template-rows: 15% 85%;
    align-items: center;
}

.trad-x-param__column-head {
    display: grid;
    padding: 1em;
    /* min-width: 12em; */
    align-items: center;
    text-align: center;
}

.trad-x-param__column > p {
    height: 5em;
}

.trad-x-param__column > h5 {
    width: 80%;
}

.trad-x-param__wrapp-cells {
    border: 1px dashed rgba(0,0,0,1);
    border-radius: 10px;
    /* width: 14em; */
    align-items: center;
    height: 100%;
}

.trad-x-param__cells {
    display: grid;
    margin: 0 1em;
    padding: 1em 0;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.trad-x-param__cells > p:nth-child(2) {
    border-bottom: 1px solid rgba(0,0,0,1);
    border-top: 1px solid rgba(0,0,0,1);
    padding: 1em 0;
}

.container-images {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding-bottom: 5em;
}

.container-images > img {
    max-width: 90%;
}

.persona__box {
    max-width: 90%;
    border: 1px dashed var(--main-color);
    padding: 1em;
    margin-bottom: 5em;
}

.persona__box > h1 {
    text-align: left;
    align-self: end;
    margin: 0;
}

.persona__box .images {
    grid-column: 2 / span 2;
    justify-self: start;
}

.persona__box > div {
    margin: 0;
    padding-bottom: 2em;
}

.persona__box > div > ul {
    padding-left: 0;
    list-style: none;
}

.persona__box > div > h4 {
    padding-left: 12px;
    padding-bottom: 0;
}

.persona__box__description {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    padding-right: 1em;
}

.persona__box__bio {
    grid-column: 1 / span 2;
}

.persona__box__description > p:first-child {
    padding-bottom: 2em;
}

#so {
    font-size: 1.875rem;
    text-align: center;
    padding-bottom: 2em;
}

.ideation__images {
    display: grid;
    align-items: center;
    max-width: 90%;
    padding-bottom: 5em;
}

.ideation__images > img {
    padding-bottom: 1em;
}

@media (min-width: 800px) {
    #subtitle1 {
        width: 50%;
    }
    
    #iphones {
        max-width: 60%;
    }

    .details {
        width: 60%;
    }

    .box {
        width: 75%;
    }

    .large-box {
        width: 100%;
    }

    .survey-box {
        width: 100%;
    }

    .grid-box {
        grid-template-columns: repeat(3, minmax(33%, 1fr));
    }

    .grid-box h4 {
        grid-column: 1 / span 3;
    }

    .highlight-text {
        flex-wrap: nowrap;
    }

    .highlight-box .wrapp {
        display: flex;
    }

    .highlight-box .wrapp .arrow {
        transform: rotate(0);
    }

    .box .wrapper .content {
        grid-template-columns: 30% minmax(70%, 650px);
    }
    
    .box .wrapper .content2 {
        grid-template-columns: minmax(70%, 650px) 30%;
    }

    .triangle > div {
        height: 650px;
    }

    .triangle .content {
        font-size: 1.5rem;
    }

    .large-flex-boxes .content {
        width: 50%;
    }

    .overlapping-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .carousel {
        max-width: 80%;
    }

    .infograph__wrapper {
        width: 85%;
    }

    .trad-x-param {
        max-width: 75%;
    }

    .container-images {
        width: 80%;
    }

    .container-images > img {
        max-width: 40%;
    }

    .persona__box {
        max-width: 80%;
        display: grid;
        grid-template-columns: 25% 15% 60%;
    }
}

@media (min-width: 1200px) {
    .details > div {
        width: 40%;
    }

    .flex-boxes .content {
        width: 49%;
    }

    .triangle .content {
        font-size: 1.87rem;
    }

    .trad-x-param {
        max-width: 55%;
    }

    .container-images > img {
        max-width: 25%;
    }

    .ideation__images {
        grid-template-columns: 1fr 1fr;
        max-width: 80%;
    }

    .ideation__images__colors {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }
}