:root {
    --main-color: rgba(167,27,167,1);
    --second-color: rgba(235,227, 214,0.3);
  }

body {
    margin: 0 auto;
    font-family: Verdana,Tahoma,sans-serif;
}

header {
    border-bottom: 1px solid rgba(167,27,167,0.3);
    box-shadow: 1px 5px 5px rgba(192,192,192,1);
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(255,255,255,1);
}

nav {
    max-width: 1280px;
    display: grid;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    grid-column-start: 2;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-self: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;
}

nav a img {
    width: 5rem;
}

main {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 1rem;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding-top: 13rem;
}

.home .text {
    place-self: center;
    text-align: center;
}

.home .text h1 {
    color: var(--main-color);
    font-size: 2.5rem;
}

.home .text p {
    font-size: 1.5rem;
}

.home img {
    grid-column: 2 / span 1;
    justify-self: end;
    align-self: center;
    height: 30rem;
}

.projects {
    padding-top: 8rem;
}

.projects h1 {
    color: var(--main-color);
    font-size: 3rem;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-projects a {
    text-decoration: none;
}

.project {
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 40% 60%;
    place-items: center;
    column-gap: 1rem;
    background-color: var(--second-color);
    border-radius: 45px;
    height: 454px;
    width: 500px;
    padding: 2rem;
    margin-bottom: 5rem;
    box-shadow: 1px 5px 5px rgba(192,192,192,1);
}

.project h3 {
    grid-column: 1 / span 2;
    color: var(--main-color);
    text-align: center;
}

.project img {
    justify-self: start;
}

.project .text {
    grid-column: 2 / span 1;
    justify-self: start;
    color: black;
}

.contact .text {
    color: var(--main-color);
    text-align: center;
    padding: 5rem 0;
}

.contact img {
    display: block;
    margin: auto;
    padding: 3rem 0;
}

footer {
    color: var(--main-color);
    text-align: center;
    margin: auto;
    background-color: var(--second-color);
    clip-path: ellipse(50% 100% at bottom);
    height: 300px;
    display: grid;
    grid-template-rows: auto min-content;
    justify-items: center;
    align-items: end;
}

.container-icons {
    display: flex;
}

.container-icons img {
    padding: 0 10px;
}

footer p {
    padding-bottom: 1rem;
}