:root {
    --main-color: rgba(167,27,167,1);
    --second-color: rgba(235,227, 214,0.3);
  }

body {
    margin: 0 auto;
}

header {
    border-bottom: 1px solid var(--main-color);
    box-shadow: 1px 5px 5px rgba(192,192,192,1);
}

nav {
    max-width: 1280px;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
}

nav ul {
    list-style: none;
    grid-column-start: 2;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-self: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
}

main {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}

.home {
    display: grid;
}

.home h1 {
    color: var(--main-color)
}

.home .text {
    place-self: center;
    text-align: center;
}

.home img {
    grid-column: 2 / span 1;
}

.projects h1 {
    color: var(--main-color);
}

.container-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.project {
    display: grid;
    grid-template-rows: max-content auto max-content;
    place-items: center;
    column-gap: 1rem;
    background-color: var(--second-color);
    border-radius: 45px;
    height: 454px;
    padding: 2rem;
}

.project h5 {
    grid-column: 1 / span 2;
    color: var(--main-color);
    text-align: center;
}

.project .text {
    grid-column: 2 / span 1;
}

.contact p {
    color: var(--main-color);
    text-align: center;
}

.contact img {
    display: block;
    margin: auto;
    padding: 3rem 0;
}

footer {
    color: var(--main-color);
    text-align: center;
    margin: auto;
    background-color: var(--second-color);
}

.container-icons {
    text-align: center;
    padding: 3rem 0;
}

.container-icons span {
    padding: 0 1rem;
    position: relative;
}

.container-icons span:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    color: var(--main-color);
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    transform: translate(50%, -100%);
}

.container-icons span:hover:before {
    opacity: 1;
    visibility: visible;
}

footer p {
    margin: 0;
    padding: 10px 0;
}